<div class='form-box'>
	<h1>New Videolink</h1>
	<%= simple_form_for @videolink do |f| %>
		<%= f.input :title %>
		<%= f.input :link %>
		<%= f.submit 'Create Videolink', :class => 'button' %>
	<% end %>
</div>